/* GENERATION 1 */

body {
    background-color: #f8f8f8;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #6f6464;
}
h1 {
    color: #8b0000;
    font-weight: 500;
    margin-top: 30px;
    text-align: center;
}
div {
    width: 90%;
    margin: 20px auto auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px -1px rgba(0,0,0,0.25);
}
button {
    display: block;
    width: 200px;
    height: 50px;
    margin: 20px auto;
    background-color: #8b0000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}
button:hover {
    background-color: #6f0000;
}


/* GENERATION 2 */
.field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

label {
    font-weight: bold;
    width: 30%;
}

input[type=text], textarea, select {
    flex-grow: 1;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
}

button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #e91e63;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
button:hover {
    background-color: #ad1457;
}

/* GENERATION 3 */
#main-navigation{
    background-color: #f0f0f0;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
#main-navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}
#main-navigation ul li{
    display: inline;
    padding: 5px 10px;
    cursor: pointer;
}
#main-navigation ul li:hover{
    background-color: #8b0000;
    color: white;
}

/* GENERATION 4 */
#apply-changes-btn {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}