body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
}

#app {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* More magical styles to be added! ✨ */